<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.yibanke.api.db.dao.TbPermissionMapper" >
  <resultMap id="BaseResultMap" type="com.example.yibanke.api.db.pojo.TbPermission" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="permission_name" property="permissionName" jdbcType="VARCHAR" />
    <result column="module_id" property="moduleId" jdbcType="INTEGER" />
    <result column="action_id" property="actionId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, permission_name, module_id, action_id
  </sql>
  <select id="searchAllPermission" resultType="HashMap">
        SELECT
            p.id,
            m.module_name AS moduleName,
            a.action_name AS actionName
        FROM tb_permission p
                 JOIN tb_module m ON p.module_id=m.id
                 JOIN tb_action a ON p.action_id=a.id
        ORDER BY p.module_id,p.id
    </select>
</mapper>